<h1>管理者画面</h1><br>

<div class="navbar navbar-default">
  <div class="navbar-inner">
    <ul class="nav">
      <li><%= link_to "図書検索画面", admins_top_index_path %></li>
      <li><%= link_to "図書追加", new_admins_book_path %></li>
      <li class="now"><%= link_to "図書リクエスト", admins_new_books_path %></li>
      <li><%= link_to "ブックマーク", admins_bookmarks_path %></li>
      <li><%= link_to "貸出履歴", admins_borrowing_histories_path %></li>
      <li><%= link_to "貸出/予約状況", admins_borrowings_path %></li>
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2>リクエスト検索</h2>
  </div>

  <div class="panel-body">
    <div class="search_field">
      <%= search_form_for ([@addition_history_search, @addition_search]), url: admins_new_books_path do |f| %>
        <div class="field">
          <%= f.label :user_name_cont, "ユーザ" %>
          <%= f.text_field :user_name_cont %><br><br>
          <%= f.label :new_book_title_cont, "タイトル" %>
          <%= f.text_field :new_book_title_cont %><br><br>
          <%= f.label :new_book_author_cont, "著者" %>
          <%= f.text_field :new_book_author_cont %><br><br>
          <%= f.label :new_book_publisher, "出版社" %>
          <%= f.text_field :new_book_publisher_cont %>
        </div><br>
        <div class="search_actions"><%= f.submit "Search" %></div>
      <% end %>
    </div>
  </div>
</div><br>

<div class="search_container">  
  <h2>承認待ちリクエスト</h2><br>
  <div class="request_container">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>申請者</th>
          <th>タイトル</th>
          <th>著者</th>
          <th>出版社</th>
          <th>申請日</th>
          <th>状態の更新</th>
        </tr>
      </thead>

      <tbody>
        <% @additions.each do |addition| %>
          <tr>
            <td><%= addition.user.name %> </td>
            <td><%= addition.new_book.title %></td>
            <td><%= addition.new_book.author %> </td>
            <td><%= addition.new_book.publisher %> </td>
            <td><%= addition.created_at.to_date %></td>
            <td>
              <%= form_for @addition_history, :url => admins_addition_histories_path do |f| %>
                <%= f.hidden_field :user_id, :value => addition.user_id %>
                <%= f.hidden_field :addition_id, :value => addition.id %>
                <%= f.hidden_field :new_book_id, :value => addition.new_book_id %>
                <%= f.select :status, {"不許可" => "FALSE", "許可" => "TRUE"} %>
                <%= f.submit :状態の更新 %>
              <% end %>
            </td>
          </tr>
      </tbody>
    <% end %>
    </table>
  </div><br><br>

  <h2>承認済みリクエスト</h2><br>
  <div class="request_container">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>申請者</th>
          <th>タイトル</th>
          <th>著者</th>
          <th>出版社</th>
          <th>申請日時</th>
          <th>状態</th>
        </tr>
      </thead>

      <tbody>
        <% @addition_histories.each do |addition_history| %>
          <tr>
            <td><%= addition_history.user.name %> </td>
            <td><%= addition_history.new_book.title %></td>
            <td><%= addition_history.new_book.author %> </td>
            <td><%= addition_history.new_book.publisher %> </td>
            <td><%= addition_history.created_at %></td>
            <td>
              <% if addition_history.status %>
                許可
              <% else %>
                不許可
              <% end %>
            </td>
          </tr>
      </tbody>
    <% end %>
    </table>
  </div>
</div>
