<h1>ブックマークした図書一覧</h1><br>


<div class="navbar navbar-default">
  <div class="navbar-inner">
    <ul class="nav">
      <li><%= link_to "図書検索画面", users_top_index_path %></li>
    </ul>
  </div>
</div>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>タイトル</th>
        <th>著者</th>
        <th>出版社</th>
        <th>分野</th>
      </tr>
    </thead>
    <tbody>
      <% @bookmarks.each do |bookmark| %>
        <tr>
          <td><%= link_to bookmark.book.title, users_book_path(bookmark.book_id) %> </td>
          <td><%= bookmark.book.author.author_name %></td>
          <td><%= bookmark.book.publisher.publisher_name %></td>
          <td><%= bookmark.book.genre.genre_name %></td>
        </tr>
    </tbody>
  <% end %>
  </table>
</div>
