<h1>新規図書購入リクエスト</h1><br>

<div class="navbar navbar-default">
  <div class="navbar-inner">
    <ul class="nav">
      <li><%= link_to "図書検索画面", users_top_index_path %></li>
    </ul>
  </div>
</div>

<h2>新規図書購入リクエストフォーム</h2><br>
<div class="search_field">
  <%= form_for @new_book, url: users_new_books_path do |f| %>
    <p>
    <%= f.label :タイトル %>
    <%= f.text_field :title %>
    </p>

    <p>
    <%= f.label :著者 %>
    <%= f.text_field :author %>
    </p>

    <p>
    <%= f.label :出版社 %>
    <%= f.text_field :publisher %>
    </p>

    <div class="search_actions">
      <%= f.submit :送信 %>
    </div>

    <%= f.fields_for @new_book.additions do |df| %>
    <% end %>
  <% end %>
</div><br>

<h2>新規図書購入リクエスト履歴</h2>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>タイトル</th>
        <th>著者</th>
        <th>出版社</th>
        <th>申請日</th>
        <th>現在の状態</th>
        <th>申し込みの取り消し</th>
      </tr>
    </thead>

    <tbody>
      <% @user.additions.each do |addition| %>
        <tr>
          <td><%= addition.new_book.title %></td>
          <td><%= addition.new_book.author %> </td>
          <td><%= addition.new_book.publisher %> </td>
          <td><%= addition.created_at.to_date %></td>
          <td>現在承認中</td>
          <td><%= link_to "図書購入申請の取り消し", users_addition_path(addition.id), method: :delete, data: {confirm: "申し込みを取り消しますか?"} %></td>
        </tr>
      <% end %>

      <% @user.addition_histories.each do |addition_history| %>
        <tr>
          <td><%= addition_history.new_book.title %></td>
          <td><%= addition_history.new_book.author %> </td>
          <td><%= addition_history.new_book.publisher %> </td>
          <td><%= addition_history.created_at.to_date %></td>
          <td>
            <% if addition_history.status %>
              許可
            <% else %>
              不許可
            <% end %>
          </td>
          <td></td>
        <% end %>
    </tbody>
  </table>
</div>

