<h1> 貸借り履歴</h1><br>

<div class="navbar navbar-default">
  <div class="navbar-inner">
    <ul class="nav">
      <li><%= link_to "図書検索画面", admins_top_index_path %></li>
    </ul>
  </div>
</div>

<h2>貸借り履歴の検索</h2><br>
<div class="search_field">
  <%= search_form_for @borrowing_history_search, url: admins_borrowing_histories_path do |f| %>
    <div class="field">
      <%= f.label :user_name_cont, "ユーザ" %>
      <%= f.text_field :user_name_eq %><br>
      <%= f.label :stock_book_title_cont, "タイトル" %>
      <%= f.text_field :stock_book_title_cont %><br>
      <%= f.label :stock_id_eq, "図書番号" %>
      <%= f.text_field :stock_id_eq %><br>
      <%= f.label :stock_book_author_author_name_cont, "著者" %>
      <%= f.text_field :stock_book_author_author_name_cont %><br>
      <%= f.label :stock_book_publisher_publisher_name_cont, "出版社" %>
      <%= f.text_field :stock_book_publisher_publisher_name_cont %><br>
      <%= f.label :stock_book_genre_genre_name_cont, "分野" %>
      <%= f.text_field :stock_book_genre_genre_name_cont %><br>
    </div><br>
    <div class="search_actions"><%= f.submit "Search" %></div>
  <% end %>
</div><br>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ユーザ</th>
        <th>貸出し図書番号</th>
        <th>タイトル</th>
        <th>著者</th>
        <th>出版社</th>
        <th>分野</th>
        <th>貸出日</th>
        <th>返却日</th>
      </tr>
    </thead>

    <tbody>
      <% @borrowing_histories.each do |history| %>
        <tr>
          <td><%= history.user.name %></td>
          <td><%= sprintf("%08d", history.stock_id) %></td>
          <td><%= history.stock.book.title %></td>
          <td><%= history.stock.book.author.author_name %></td>
          <td><%= history.stock.book.publisher.publisher_name %></td>
          <td><%= history.stock.book.genre.genre_name %></td>
          <td><%= history.borrowed_at.to_date %></td>
          <td><%= history.created_at.to_date %></td>
        <% end %>
        </tr>
    </tbody>
  </table>
</div>
