<h1>あなたの貸借り・予約状況</h1><br>


<div class="navbar navbar-default">
  <div class="navbar-inner">
    <ul class="nav">
      <li><%= link_to "図書検索画面", users_top_index_path %></li>
      <li><%= link_to "図書リクエスト", users_new_books_path %></li>
      <li><%= link_to "ブックマーク", users_bookmarks_path %></li>
      <li><%= link_to "貸借り履歴", users_borrowing_histories_path %></li>
      <li class="now"><%= link_to "貸借り/予約状況" %></li>
    </ul>
  </div>
</div>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>タイトル</th>
        <th>著者</th>
        <th>出版社</th>
        <th>分野</th>
        <th>状態</th>
        <th>各種期日</th>
      </tr>
    </thead>
    <tbody>
      <% @user.borrowings.each do |borrowing| %>
        <tr>
          <td><%= link_to borrowing.stock.book.title, users_book_path(borrowing.stock.book_id) %> </td>
          <td><%= borrowing.stock.book.author.author_name %></td>
          <td><%= borrowing.stock.book.publisher.publisher_name %></td>
          <td><%= borrowing.stock.book.genre.genre_name %></td>
          <td>
            <% if borrowing.return_at > DateTime.now %>
              現在貸出中
            <% else %>
              貸出期限オーバー
            <% end %>
          </td>
          <td>返却期限: <%= borrowing.return_at.to_date %></td>
        </tr>
      <% end %>

      <% @user.stock_reservations.each do |stock_reservation| %>
        <tr>
          <td><%= link_to stock_reservation.stock.book.title, users_book_path(stock_reservation.stock.book_id) %> </td>
          <td><%= stock_reservation.stock.book.author.author_name %></td>
          <td><%= stock_reservation.stock.book.publisher.publisher_name %></td>
          <td><%= stock_reservation.stock.book.genre.genre_name %></td>
          <td>現在取り置き中</td>
          <td>取り置き有効期限: <%= stock_reservation.invalid_at.to_date %></td>
        </tr>
      <% end %>

      <% @user.book_reservations.each do |book_reservation| %>
        <tr>
          <td><%= link_to book_reservation.book.title, users_book_path(book_reservation.book_id) %> </td>
          <td><%= book_reservation.book.author.author_name %></td>
          <td><%= book_reservation.book.publisher.publisher_name %></td>
          <td><%= book_reservation.book.genre.genre_name %></td>
          <td>現在予約中</td>
          <td>取り置きが始まるまでしばしお待ちください</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div><br><br>


