<h3> 著者名の編集 </h3><br>

<div class="navbar navbar-default">
  <div class= "navbar-inner">
    <ul class="nav">
      <li><%= link_to "著者一覧へ", admins_authors_path %></li>
    </ul>
  </div>
</div>

<div class="editer_container">
  <%= form_for @author, url: admins_author_path do |f| %>
    <%= f.label :著者名 %>
    <%= f.text_field :author_name %>
    <%= f.submit :著者名の編集 %>
  <% end %>
</div>
