<h1> 著者の追加 </h1>

<div class="navbar navbar-default">
  <div class= "navbar-inner">
    <ul class="nav">
      <li><%= link_to "管理者画面", admins_top_index_path %></li>
      <li><%= link_to "図書追加画面", new_admins_book_path %></li>
    </ul>
  </div>
</div><br>

<div class="nature_create">
  <%= form_for @author, url: admins_authors_path do |f| %>

    <%= f.label :著者名 %>
    <%= f.text_field :author_name %>
    <%= f.submit :著者の追加 %>

  <% end %>
</div><br><br>

<div class="nature_container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>著者名</th>
        <th>更新日</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @authors.each do |author| %>
        <tr>
          <td><%= author.author_name %> </td>
          <td><%= author.updated_at.to_date %></td>
          <td>
            <%= button_to "編集", edit_admins_author_path(author.id), :method => :get %>
          </td>
          <td>
            <%= button_to "削除", admins_author_path(author.id), method: :delete, data: {confirm: "本当に削除しますか？"}, :method => :delete %>
          </td>
        </tr>
    </tbody>
  <% end %>
  </table>
</div>
