<h1> 出版社名の編集 </h1><br>

<div class="navbar navbar-default">
  <div class= "navbar-inner">
    <ul class="nav">
      <li><%= link_to "出版社一覧へ", admins_publishers_path %></li>
    </ul>
  </div>
</div>

<div class="editer_container">
  <%= form_for @publisher, url: admins_publisher_path do |f| %>
    <%= f.label :出版社名 %>
    <%= f.text_field :publisher_name %>
    <%= f.submit :出版社名の編集 %>
  <% end %>
</div>
