<h1> 出版社の追加 </h1><br>

<div class="navbar navbar-default">
  <div class= "navbar-inner">
    <ul class="nav">
      <li><%= link_to "図書検索画面", admins_top_index_path %></li>
      <li><%= link_to "図書追加", new_admins_book_path %></li>
      <li><%= link_to "図書リクエスト", admins_new_books_path %></li>
      <li><%= link_to "ブックマーク", admins_bookmarks_path %></li>
      <li><%= link_to "貸出履歴", admins_borrowing_histories_path %></li>
      <li><%= link_to "貸出/予約状況", admins_borrowings_path %></li>
    </ul>
  </div>
</div><br>

<div class="nature_create">
  <%= form_for @publisher, url:admins_publishers_path  do |f| %>

    <%= f.label :出版社名 %>
    <%= f.text_field :publisher_name %>
    <%= f.submit :出版社の追加 %>

  <% end %>
</div><br><br>

<div class="nature_container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>出版社名</th>
        <th>更新日時</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @publishers.each do |publisher| %>
        <tr>
          <td><%= publisher.publisher_name %> </td>
          <td><%= publisher.updated_at %></td>
          <td>
            <%= button_to "編集", edit_admins_publisher_path(publisher.id), :method => :get %>
          </td>
          <td>
            <%= button_to "削除", admins_publisher_path(publisher.id), method: :delete, data: {confirm: "本当に削除しますか？"}, :method => :delete %>
          </td>
        </tr>
    </tbody>
  <% end %>
  </table>
</div>

