<h1> 詳細情報 </h1><br>

<div class="navbar navbar-default">
  <div class="navbar-inner">
    <ul class="nav">
<li><%= link_to "図書検索画面", admins_top_index_path %></li>
<li><%= link_to "図書情報の編集", edit_admins_book_path(@book.id)%></li>
    </ul>
  </div>
</div>

<h2>詳細情報</h2><br>
<div class="container">
<table class="table table-striped" border="3">
  <tr>
    <td>タイトル</td>
    <td><strong><%= @book.title %></strong></td>
  </tr>

  <tr>
    <td>著者</td>
    <td><%= @book.author.author_name %></td>
  </tr>

  <tr>
    <td>出版社</td>
    <td><%= @book.publisher.publisher_name %></td>
  </tr>

  <tr>
    <td>分野</td>
    <td><%= @book.genre.genre_name %></td>
  </tr>

  <tr>
    <td>図書館保有状況</td>
    <td>合計保有数: <%= @book.stocks.count %><br>
    <ul>
      <% @book.stocks.each do |stock| %>
        <li>
          <%= sprintf("%08d", stock.id) %>
          <%= status_for_admins(stock) %>
        </li>
      <% end %>
    </ul></td>
  </tr>
</table>
</div><br>

<h2>この本に対するレビュー一覧</h2>
<ul>
  <% @reviews.each do |review| %>
    <li>
      <%= review.user.name %> |
      <%= review.updated_at %><br>
      <%= review.content %>
    </li>
  <% end %>
</ul>

